﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ETOS", "Index", "Request", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Мои заявки", "Index", "Request", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Создать заявку", "Create", "Request", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Выход", "LogOut", "Account", new { area = "" }, null)</li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="container">
            @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Employee Transportation Ordering System</p>
        </footer> 
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
      $(function () {
        //Идентификатор элемента HTML (например: #datetimepicker1), для которого необходимо инициализировать виджет "Bootstrap datetimepicker"
        $('#datetimepicker1').datetimepicker();
      });
    </script>
</body>
</html>
