﻿
@model ETOS.WebUI.ViewModels.RequestsViewModels.RequestHandleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Руководитель</title>
</head>
<body>


    <table>
        <tr>
            <td>Время создания заявки</td>
            <td>@Model.request.CreationDateTime</td>
        </tr>
        <tr>
            <td>ФИО</td>
            <td>@Model.request.AuthorLastName  @Model.request.AuthorFirstName</td>
        </tr>
        <tr>
            <td>Откуда</td>
            <td>@Model.request.DeparturePointName</td>
        </tr>
        <tr>
            <td>Куда</td>
            <td>@Model.request.DestinationPointName</td>
        </tr>
        <tr>
            <td>Время отправки</td>
            <td>@Model.request.DepartureDateTime</td>
        </tr>
        <tr>
            <td>Багаж</td>
            <td>@Model.request.HasBaggage</td>
        </tr>
        <tr>
            <td>Комментарий</td>
            <td>@Model.request.Comment</td>
        </tr>
        <tr>
            <td>Расстояние</td>
            <td>@Model.request.Mileage</td>
        </tr>
        <tr>
            <td>Стоимость</td>
            <td>@Model.request.Price</td>
        </tr>
        <tr>
            <td>Статус</td>
            <td>@Model.request.StatusId</td>
        </tr>
    </table>

    <br /><br />
    <div>Действия</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-10">
                @using (Html.BeginForm("ManagerFinishSuccess", "Request", FormMethod.Post))
                {
                    <br /><br />
                    @Html.HiddenFor(m => m.request.Id, Model.request.Id)
                    @Html.HiddenFor(m => m.request.StatusId, Model.request.StatusId)
                    <br /><br />
                            <input type="submit" value="Подтвердить" class="btn btn-success" style="width: 200px" />
                }
            </div>
            <div class="col-lg-2 col-lg-offset-1 col-md-10">
                @using (Html.BeginForm("ManagerReject", "Request", FormMethod.Post))
                {
                    <br /><br />

                    <br /><br />
                            @Html.HiddenFor(m => m.request.Id, Model.request.Id)
                            @Html.HiddenFor(m => m.request.StatusId, Model.request.StatusId)
                            <input type="submit" value="Отклонить" class="btn-danger" style="width: 200px" />
                            <br /><br />
                            <div>Причина отклонения</div>
                            @Html.TextBoxFor(a => a.request.Comment, new { @class = "form-control", style = "width: 200px; text-align:center" })


                }
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
