﻿@model RequestsViewModels.RequestIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
    @Styles.Render("~/Content/css/pagedList")
}


<div class="row">
    <div>
        <form action="/Request/PartialAdminIndex" method="get" class="form-inline filter-form">
            <div class="form-group">
                Введите фамилию:
                <input type="text" class="form-control" name="AuthorLastName" value=" " />
            </div>
            <div class="form-group">
                Введите имя:
                <input type="text" class="form-control" name="AuthorFirstName" value="" />
            </div>


            <div class="form-group">
                Введите откуда:
                <input type="text" class="form-control" name="DepartureAddress" value="" />
            </div>


            <div class="form-group to">
                Введите куда:
                <input type="text" class="form-control" name="DestinationAddress" value="" />
            </div>

            <input class="btn btn-success filtering" type="submit" value="Отфильтровать" />
        </form>
    </div>
    <div>
        <form action="/Request/PartialAdminIndex" method="get">
            <div><input name="cleanFilter" value="true" type="hidden" /></div>
            <input class="btn btn-danger" type="submit" value="Очистить фильтр" />
        </form>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" id="example" class="table table-striped">
        <thead>
            <tr>
                <th>Номер заявки</th>
                <th>Фамилия автора</th>
                <th>Дата время отправки</th>
                <th>Точка отправки</th>
                <th>Точка прибытия</th>
                <th> Наличие багажа</th>
                <th>Статус</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var request in Model.Requests)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.AuthorFirstName @request.AuthorLastName</td>
                    <td><div class="date">@request.DepartureDateTime</div></td>
                    <td>@request.DeparturePointName </td>
                    <td>@request.DestinationPointName </td>
                    <td class="center">
                        @if (request.HasBaggage)
                        {
                            <label>Есть </label>
                        }
                        else
                        {
                            <label>Отсутствует</label>
                        }
                    </td>
                    <td class="center status">@request.StatusName</td>
                    <td>@request.Comment</td>
                    <td>
                        @Html.ActionLink("Подробнее", "MoreDetails", "Request", new { id = request.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    Страница @(Model.Requests.PageCount < Model.Requests.PageNumber ? 0 : Model.Requests.PageNumber) из @Model.Requests.PageCount

    @Html.PagedListPager(Model.Requests, page => Url.Action("PartialAdminIndex", new { page }))
    <div>
        <a class="btn btn-info" role="button" href=/Request/LogIndex >Показать логи</a>
    </div>
</div>
