﻿
@model ETOS.WebUI.ViewModels.RequestsViewModels.RequestHandleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Секретарь</title>
</head>
<body>

    <div>
        <table>
            <tr>
                <td>Время создания заявки</td>
                <td>@Model.Request.CreationDateTime</td>
            </tr>
            <tr>
                <td>ФИО</td>
                <td>@Model.Request.AuthorLastName  @Model.Request.AuthorFirstName</td>
            </tr>
            <tr>
                <td>Откуда</td>
                <td>@Model.Request.DeparturePointName</td>
            </tr>
            <tr>
                <td>Куда</td>
                <td>@Model.Request.DestinationPointName</td>
            </tr>
            <tr>
                <td>Время отправки</td>
                <td>@Model.Request.DepartureDateTime</td>
            </tr>
            <tr>
                <td>Багаж</td>
                <td>@Model.Request.HasBaggage</td>
            </tr>
            <tr>
                <td>Комментарий</td>
                <td>@Model.Request.Comment</td>
            </tr>
            <tr>
                <td>Расстояние</td>
                <td>@Model.Request.Mileage</td>
            </tr>
            <tr>
                <td>Стоимость</td>
                <td>@Model.Request.Price</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>@Model.Request.StatusId</td>
            </tr>
        </table>

        <br /><br />
        <div>Действия</div>
        <br /><br />
        <br />
        <table>
            <tr>
                <td>
                    <div>
                        <a class="btn btn-info" role="button" href=/Contractor/Select/@Model.Request.Id>Подобрать такси</a>
                    </div>
                <td>
                    <div class="col-md-10">
                        @using (Html.BeginForm("SecretaryFinishFailed", "Request", FormMethod.Post))
                        {
                            <br /><br />
                            @Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
                            @Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
                            <br /><br />
                            <input type="submit" value="Завершена не успешно" class="btn-warning" style="width: 200px" />
                        }
                    </div>
                </td>
                <td>
                    <div class="col-md-10">
                        @using (Html.BeginForm("SecretaryFinishSuccess", "Request", FormMethod.Post))
                        {
                            <br /><br />
                            @Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
                            @Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
                            <br /><br />
                            <input type="submit" value="Завершена успешно" class="btn btn-success" style="width: 200px" />
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-md-10">
                        @using (Html.BeginForm("SecretaryReject", "Request", FormMethod.Post))
                        {
                            <br /><br />
                            <div>Причина отклонения</div>
                            <br /><br />
                            @Html.HiddenFor(m => m.Request.Id, Model.Request.Id)
                            @Html.HiddenFor(m => m.Request.StatusId, Model.Request.StatusId)
                            @Html.TextBoxFor(a => a.Request.Comment, new { @class = "form-control", style = "width: 200px; text-align:center" })
                            <br /><br />
                            <input type="submit" value="Отклонить" class="btn-danger" style="width: 200px" />
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
