﻿@model LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Вход в систему";
}
<div class="row">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Войти в систему</div>
            </div>
            <div style="padding-top:15px" class="panel-body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div id="login-alert" class="danger" style="margin-bottom: 15px">
                        @Html.ValidationSummary(false, "")
                    </div>}
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
                {
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Ваш E-mail", @autofocus = "" })
                    </div>
                    <div style="margin-bottom: 15px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ваш пароль" })
                    </div>
                    <div class="input-group" style="margin-bottom: 15px">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(m => m.Persistent, new { @class = "checkbox" })
                                @Html.LabelFor(m => m.Persistent, new { @style = "padding:0px" })
                            </label>
                        </div>
                    </div>

                    <div style="margin-top:10px" class="form-group">
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-primary btn-block">Войти</button>
                            @*<a id="btn-login" href="#" class="btn btn-block btn-success">Войти</a>*@
                        </div>
                    </div>}
            </div>
        </div>
    </div>
</div>

